* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(61, 65, 65);
  box-sizing: border-box;
}

main {
  text-align: center;
  width: 70%;
  background-color: rgb(20, 114, 94);
  margin: 10px auto;
  height: 100vh;
  padding: 20px;
}

button {
  width: 100px;
  height: 100px;
  background-color: rgb(51, 84, 121);
  border: 2px solid #fff;
  border-radius: 5px;
  color: #e7e6e6;
}

#results {
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 60%;
  border-radius: 10px;
  background-color: rgb(178, 183, 155);
  justify-content: space-around;
  align-items: center;
}